{% extends 'base.html.twig' %}

{% block title %}{% trans from "title" %}Edit Process{% endtrans %}{% endblock %}

{% block body %}
    <section class="wrapper">
        <div class="button-div">
            {{ include('process/_delete_form.html.twig') }}
            {{ include('process/_modal_delete.html.twig') }}
            <a class="btn-top" href="{{ path('process_index') }}">{% trans from "btn" %}Back to list{% endtrans %}</a>
        </div>
        {{ include('process/_form.html.twig', {'button_label': 'Update'|trans({}, 'btn')}) }}
    </section>
{% endblock %}
