<div id="modalSearch" class="modal fade bd-dark" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div id='modal' class="modal-content">
            <input type="text" id="searchInput" class="form-control search" placeholder="Searching for...">
            <div id="searchResult" class="hidden">
                <h3 id="userTitle" class="hidden">User</h3>
                <ul id="user">

                </ul>
                <h3 id="companyTitle" class="hidden">Company</h3>
                <ul id="company">

                </ul>
                <h3 id="processTitle" class="hidden">Process</h3>
                <ul id="process">

                </ul>
                <h3 id="stateTitle" class="hidden">State</h3>
                <ul id="state">

                </ul>
            </div>
        </div>
    </div>
</div>