<div class="modal fade" id="modal_delete{{ app.user.id }}" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Are you sure you want to reset your API Token?
            </div>
            <div class="modal-body">
                <p class="text-left">Resetting API token, you disconnect you from your Procedural's mobile app.</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn cancel-btn btn-default" data-bs-dismiss="modal">Cancel</button>
                <a class="btn-top" href="{{ path("refresh_token", {id: app.user.id}) }}"> Refresh API token </a>
            </div>
        </div>
    </div>
</div>