{% extends 'base.html.twig' %}

{% block title %}Edit My Account{% endblock %}

{% block body %}
    <section class="wrapper">
        <div class="button-div">
        </div>
        {{ include('account/_form.html.twig', {'button_label': 'Update'}) }}
    </section>
    <section class="wrapper">
        <h2>API TOKEN</h2>
        <p>{{ user.apiToken }}
            <button class="btn-top" data-bs-toggle="modal"
                    data-bs-target="#modal_delete{{ app.user.id }}">Refresh API token
            </button>
        </p>

    </section>
    {{ include('account/_modal_token.html.twig') }}

{% endblock %}
