{% extends 'base.html.twig' %}

{% block title %}{% trans from "title" %}New Company Process{% endtrans %}{% endblock %}

{% block body %}
    <section class="wrapper">
        <div class="button-div">
            <a class="btn-top" href="{{ path('allprocess_index') }}">{% trans from "btn" %}Back to list{% endtrans %}</a>
        </div>

        {{ include('companyprocess/_form.html.twig') }}
    </section>
{% endblock %}
