{% extends 'base.html.twig' %}

{% block title %}New Company{% endblock %}

{% block body %}
    <section class="wrapper">
        <div class="button-div">
            <a class="btn-top" href="{{ path('company_index') }}">{% trans from "btn" %}Back to list{% endtrans %}</a>
        </div>

        {{ include('company/_form.html.twig') }}
    </section>
{% endblock %}
